### Input

In [ ]:
print("smthg")

smthg

In [ ]:
result = input("Print something")

Print something1123\nfwafa

In [ ]:
result = input("Input 3 numbers, separated by comma and whitespace: ")

Input 3 numbers, separated by comma and whitespace: 1, 2, 5

In [ ]:
result.strip().split(", ")

['1', '2', '5']

In [ ]:
print(type(result.split()))

<class 'list'>

In [ ]:
print(type(result.split()[0]))

<class 'str'>

In [ ]:
list_of_str = result.strip().split(", ")

a = int(list_of_str[0])
b = int(list_of_str[1])
c = int(list_of_str[2])

In [ ]:
# 1
list(map(int, list_of_str))

[1, 2, 5]

In [ ]:
# list(map(lambda x: x + 1, map(int, list_of_str)))

# a = (1,2,3,4,5)
# b = [1,2,3,4,5]

# print(f"{type(a)=}")
# print(f"{type(b)=}")

# a.__sizeof__(), b.__sizeof__()

# hash(a)
# hash(b)

In [ ]:
# 2
# list comprehension

[int(x) for x in list_of_str]

[1, 2, 5]

In [ ]:
# unpacking

a, b, c = list(map(int, list_of_str))

In [ ]:
result = input("Input numbers, separated by whitespace: ")

Input numbers, separated by whitespace: 1 2 3 4 5 6 7 8 9 10 12 13 15 12 5123234

In [ ]:
list_of_str = result.strip().split(" ")


# get fst, lst elements
# unpacking

fst, *_, lst = list(map(int, list_of_str))

print(fst, lst)

# get fst, trd, lst elements
# unpacking

# *_ may mean 0 variables
fst, _, trd, *_, lst = list(map(int, list_of_str))

print(fst, trd, lst)

# _ may be any number times
# *_ may be at most once

1 5123234
1 3 5123234

In [ ]:
# fst, *_, x, *_, lst = list(map(int, list_of_str))

In [ ]:
fst, _, trd, *_, lst = map(int, list_of_str)

In [ ]:
# put back together:
a, _, c = map(int, input("Input 3 numbers, separated by whitespace: ").strip().split(" "))

In [ ]:
a, c

(1, 3)

### If/else

In [ ]:
# if BOOL_STATEMENT:
#   # COMPUTE IF TRUE
# else:
#   # COMPUTE IF FALSE

In [ ]:
a = int(input("Input a single number: "))

if a % 2 == 0:
    print(a, "DIV BY 2")
else:
    print(a, "NOT DIV BY 2")

Input a single number: 124
124 DIV BY 2

In [ ]:
a = int(input("Input a single number: "))

if a % 2 == 0:
    print(a, "DIV BY 2")
elif a % 3 == 0:
    print(a, "DIV BY 3")
elif a % 5 == 0:
    print(a, "DIV BY 5")
else:
    print(a, "NOT DIV BY 2 AND BY 3 AND BY 5")

Input a single number: 6
6 DIV BY 2

In [ ]:
if a % 2 == 0:
    print(a, "DIV BY 2")

6 DIV BY 2

In [ ]:
a / 0

ZeroDivisionError: ignored

In [ ]:
# OR
a = int(input("Input a single number: "))

if a > 0 or a / 0 == 0:
    print("ALL GOOD")

Input a single number: 1
ALL GOOD

In [ ]:
# OR
a = int(input("Input a single number: "))

if a > 0 or a / 0 == 0:
    print("ALL GOOD")

Input a single number: -1

ZeroDivisionError: ignored

In [ ]:
# AND
a = int(input("Input a single number: "))

if a > 0 and a / 0 == 0:
    print("!")
else:
    print("ALL GOOD")

Input a single number: -1
ALL GOOD

In [ ]:
# AND
a = int(input("Input a single number: "))

if a > 0 and a / 0 == 0:
    print("!")
else:
    print("ALL GOOD")

Input a single number: 1

ZeroDivisionError: ignored

In [ ]:
# python 3.10
# https://peps.python.org/pep-0636/


a = int(input())

# pattern matching
match a:
    case 1:  # a == 1
        print("A IS 1")
    case 2:  # a == 2
        print("A IS 2")
    case _:  # optional
        print("A NOT IS 1 OR 2")

3
A NOT IS 1 OR 2

In [ ]:
if int(input("Enter a number: ")) % 2 == 0:
    print("DIV BY 2")
else:
    print("NOT DIV BY 2")

Enter a number: 2
DIV BY 2

In [ ]:
# walrus operator
# python3.9+

# tee
if (a := int(input("Enter a number: "))) % 2 == 0:
    print("DIV BY 2")
    print(a)
else:
    print("NOT DIV BY 2")
    print(a)

Enter a number: 32
DIV BY 2
32

### For While

In [ ]:
# calculate the sum
s = [123,1,2,3,4,5,6,7,8,9,10]  # iterable object

sum(s)

178

In [ ]:
answer = 0
for elem in s:
    answer += elem
print(answer)

178

In [ ]:
# calculate the sum of even elements
answer = 0
for elem in s:
    if elem % 2 == 0:
        answer += elem
print(answer)

30

In [ ]:
# calculate the sum of even elements
answer = 0
for elem in s:
    # elem = 123
    if elem % 2 != 0:  # True
        continue  # GOTO line 3
    answer += elem
print(answer)

30

In [ ]:
# calculate the sum until you see 123
s = [1,2,3,4,5,6,7,8,9,123,10]  # iterable object

print(sum([1,2,3,4,5,6,7,8,9]))

answer = 0
for elem in s:
    if elem == 123:
        break  # GOTO line 11
    answer += elem

print(answer)

45
45

In [ ]:
s = [1,2,3,4,5,6,7,8,9,123,10]

answer = 0
for elem in s:
    if elem == 123:
        break
    answer += elem
else:
    print("123 WAS NOT FOUND")

print(answer)

45

In [ ]:
s = [1,2,3,4,5,6,7,8,9,10]

answer = 0
for elem in s:
    if elem == 123:
        break
    answer += elem
else:
    print("123 WAS NOT FOUND")

print(answer)

123 WAS NOT FOUND
55

In [ ]:
start = 0  # inclusive
stop = 10  # exclusive
step = 1
range(start, stop, step)
range(start, stop)  # by default step = 1
range(stop)  # by default start = 0 step = 1

range(0, 10)

In [ ]:
s = [1,2,3,4,5,6,7,8,9,10]

answer = 0
for idx in range(len(s)):
    if s[idx] == 123:
        break
    answer += s[idx]
else:
    print("123 WAS NOT FOUND")

print(answer)

123 WAS NOT FOUND
55

In [ ]:
for idx in range(10):
    print(idx, end=" ")

0 1 2 3 4 5 6 7 8 9

In [ ]:
for idx in range(-10, 0):
    print(idx, end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [ ]:
for idx in range(len(s) - 1, -1, -1):
    print(s[idx], end=" ")

10 9 8 7 6 5 4 3 2 1

In [ ]:
word = input()  # str is an iterable obj

vowels = 'aeiou'
for char in word:
    if char in vowels:
        continue
    print(char, end="")

abracadabra
brcdbr

In [ ]:
print(1,2,3,4,5, sep="|")#, end="")
print(1)

1|2|3|4|5
1

In [ ]:
a = [
    [1,2,3],
    [4,5,6,7]
]

# len(a) == 2
# len(a[0]) == 3
# len(a[1]) == 4
for i in range(len(a)): # range(2)
    res = 0
    for j in range(len(a[i])):  # range(4)
        res += a[i][j]
    print(res)

6
22

In [ ]:
# предусловие
# постусловие

In [ ]:
# while CONDITION:
#     DO_SOMETHING

In [ ]:
while (word := input()) != "NO":
    print(f"YOU ENTERED {word}")

asdasd
YOU ENTERED asdasd
avsvasv
YOU ENTERED avsvasv
NO

In [ ]:
while (word := input()) != "NO":
    print(f"YOU ENTERED {word}")

NO

In [ ]:
# while True:
#     DO_SOMETHING
#     if not CONDITION:
#         break

In [ ]:
while True:
    print(1)
    word = input()
    if word == "NO":
        break

1
NO

#### Задача 1.

Дано натуральное число. Требуется определить, является ли год с данным номером високосным. Если год является високосным, то выведите YES, иначе выведите NO. Напомним, что в соответствии с григорианским календарем, год является високосным, если его номер кратен 4, но не кратен 100, а также если он кратен 400.

In [ ]:
year = int(input())

if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print(year, "IS A LEAP YEAR")
else:
    print(year, "IS NOT A LEAP YEAR")

2000
2000 IS A LEAP YEAR

Задача 2.

По данному натуральному n <= 9 выведите лесенку из n ступенек, i-я ступенька состоит из чисел от 1 до  без пробелов. Например, для числа 4:

1

12

123

1234

Задача 3.

Последовательность состоит из натуральных чисел и завершается числом 0. Определите значение наибольшего элемента последовательности.

Задача 4

По данному натуральному числу N выведите такое наименьшее целое число K, что $2^K \geq N$.

Операцией возведения в степень пользоваться нельзя!