## Списки и кортежи

Список в питоне -- это некоторая коллекция, которая хранит в себе последовательность чего-либо, важно, что это "что-либо" может быть совершенно разным даже внутри одного списка.

In [1]:
# список - list
numbers = [1, 5, 3, 8, 2, -1, 0]
numbers = list([1, 5, 3, 8, 2, -1, 0])

print(len(numbers))  # len(numbers) == numbers.__len__()
print(numbers)

7
[1, 5, 3, 8, 2, -1, 0]

In [4]:
whatever = [1, "abc", None, -1, 1.2, [1, 2, 3, 4]]  # можно хранить что угодно, нет строгой типизации
print(whatever)

[1, 'abc', None, -1, 1.2, [1, 2, 3, 4]]

In [6]:
my_list = []  # пустой список, можно также написать my_list = list()
my_list = list()

# O(1) амортизированное
my_list.append(5)  # добавим в конец списка
my_list.append(4)
my_list.append(3)
my_list.append(2)
my_list.append(1)

print(my_list)
print(len(my_list))  # так можно получить длину

[5, 4, 3, 2, 1]
5

In [7]:
# O(N)
my_list.insert(0, 100)
print(my_list)

[100, 5, 4, 3, 2, 1]

In [8]:
# удаление

# my_list.pop()
help(my_list.pop)

Help on built-in function pop:

pop(index=-1, /) method of builtins.list instance
    Remove and return item at index (default last).

    Raises IndexError if list is empty or index is out of range.

In [9]:
help(my_list.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [10]:
my_list = []  # пустой список, можно также написать my_list = list()

# O(1) амортизированное
my_list.append(5)  # добавим в конец списка
my_list.append(4)
my_list.append(3)
my_list.append(2)
my_list.append(1)

print(my_list)
print(len(my_list))  # так можно получить длину

[5, 4, 3, 2, 1]
5

In [14]:
start = 0
end = len(my_list)
step = 1
my_list[start:end:step]
my_list[start:end] # step = 1
my_list[:end] # step = 1, start = 0
my_list[:]  # step = 1 start = 0 end = len(my_list)

[5, 4, 3, 2, 1]

In [15]:
print('my_list[0] =', my_list[0])  # первый элемент -- индексация с нуля
print('my_list[1] =', my_list[1])  # второй
print('my_list[:2] =', my_list[:2])  # срез -- первые два
print('my_list[1:3] =', my_list[1:3])  # срез со второго по четвертый
print('my_list[-1] =', my_list[-1], my_list[len(my_list) - 1])  # последний элемент, два разных способа
print('my_list[-2] =', my_list[-2])  # предпоследний
print('my_list[-3:-1] =', my_list[-3:-1])  # а это какие будут?
print('my_list[0:5:2] =', my_list[0:5:2])  # можно как и в циклах задать шаг
try:
    print('my_list[5] =', my_list[5])  # ошибка, такого нет
except IndexError:
    pass

my_list[0] = 5
my_list[1] = 4
my_list[:2] = [5, 4]
my_list[1:3] = [4, 3]
my_list[-1] = 1 1
my_list[-2] = 2
my_list[-3:-1] = [3, 2]
my_list[0:5:2] = [5, 3, 1]

In [18]:
for i in range(len(my_list) - 1, -1, -1):
    print(my_list[i], end=" ")
print()

1 2 3 4 5

In [19]:
for i in range(len(my_list) - 1, -2, -1):
    print(my_list[i], end=" ")
print()

1 2 3 4 5 1

In [20]:
my_list.__getitem__(3) == my_list[3]

True

In [21]:
numbers = [1, 5, 3, 8, 2, -1, 0]

for elem in numbers:
    print(elem, end=" ")
print()

1 5 3 8 2 -1 0

In [22]:
print(numbers)

[1, 5, 3, 8, 2, -1, 0]

In [23]:
print(*numbers)

1 5 3 8 2 -1 0

In [29]:
print(*[1,2,3,4,5,6,7,8])  # <=> print(1,2,3,4,5,6,7,8)

1 2 3 4 5 6 7 8

In [30]:
print(*numbers, sep=" ! ")

1 ! 5 ! 3 ! 8 ! 2 ! -1 ! 0

In [32]:
print(" ! ".join(numbers))

TypeError: ignored

In [33]:
print(" ! ".join(map(str, numbers)))

1 ! 5 ! 3 ! 8 ! 2 ! -1 ! 0

In [35]:
a = [1,2,3]
a[0] = 0
print(a)

a[:2] = [5,6]
print(a)

[0, 2, 3]
[5, 6, 3]

In [37]:
# вот так копировать плохо!
a = [1, 2, 3]
b = a

# и вот почему

a[0] = 0

print(a, id(a))  # ячейки памяти одинаковые
print(b, id(b))

[0, 2, 3] 139898645064512
[0, 2, 3] 139898645064512

In [38]:
# но копировать можно так

a = [1, 2, 3]
b = a[:]  # потому что срез создает новый массив

a[0] = 0

print(a, id(a))  # ячейки памяти разные
print(b, id(b))

[0, 2, 3] 139898645063168
[1, 2, 3] 139898646720768

In [41]:
a = [[1, 2, 3]]
b = a[:]  # shallow copy

a[0][0] = 0

print(a, id(a))
print(b, id(b))

print("*"*10)

print(a, id(a[0]))
print(b, id(b[0]))

[[0, 2, 3]] 139898878781312
[[0, 2, 3]] 139898646676096
**********
[[0, 2, 3]] 139898645760384
[[0, 2, 3]] 139898645760384

In [43]:
from copy import deepcopy

a = [[1, 2, 3]]
b = deepcopy(a)

a[0][0] = 0

print(a, id(a))  # ячейки памяти разные
print(b, id(b))

[[0, 2, 3]] 139898646415488
[[1, 2, 3]] 139898646423872

In [44]:
# вот так можно вводить списки

my_list = list(map(int, input().split()))  # аналогично можно заменить на float, например
print(my_list)

1 2 3 4 5 6 7 8 123
[1, 2, 3, 4, 5, 6, 7, 8, 123]

In [45]:
my_list = input().split()  # список строк, разделенных по пробелу
print(my_list)

23523 3r2f23f 345 q3er
['23523', '3r2f23f', '345', 'q3er']

In [46]:
my_list = list(input())  # а что произойдет тут?
print(my_list)

some string
['s', 'o', 'm', 'e', ' ', 's', 't', 'r', 'i', 'n', 'g']

In [47]:
list("abcdefg")

['a', 'b', 'c', 'd', 'e', 'f', 'g']

## Tuple (кортеж)
неизменяемые (иммутабельные) списки

In [49]:
my_tuple = (1, 2, 3)

# можно делать то же самое, что и со списками, только менять нельзя

print(my_tuple[0])
print(my_tuple[1:3])
print(len(my_tuple))
try:
    my_tuple[0] = -1  # так нельзя
except TypeError:
    print("ERROR")

1
(2, 3)
3
ERROR

In [51]:
# my_tuple.append

In [52]:
for elem in my_tuple:
    print(elem)

1
2
3

In [54]:
my_tuple.__getitem__(0)

1

In [57]:
a = (1)
print(type(a))

<class 'int'>

In [58]:
a = (1,)
print(type(a))

<class 'tuple'>

In [60]:
# а еще кортеж есть меньше места

a = [1, 2, 3]
b = (1, 2, 3)

print(a.__sizeof__())
print(b.__sizeof__())

72
48

In [64]:
import sys


print(sys.getsizeof(a))
print(sys.getsizeof(b))

88
64

In [73]:

my_own_list = [1, 3, 2]

my_own_list.extend([4, 5, 6])  # аналогично можно написать my_own_list += [4, 5, 6]
print('after extend:', my_own_list)

my_own_list.append(7)  # "константное" время, амортизированно O(1)
print('after append:', my_own_list)

# del my_own_list[0]  # линейное время, в худшем случае O(n), где n -- размер списка
my_own_list.pop(0)
print('after del:', my_own_list)

after extend: [1, 3, 2, 4, 5, 6]
after append: [1, 3, 2, 4, 5, 6, 7]
after del: [3, 2, 4, 5, 6, 7]

In [81]:
my_own_list = sorted(my_own_list)

In [82]:
print('index of value 2:', my_own_list.index(2))  # находим элемент в массиве, линейный поиск на O(n)

index of value 2: 0

In [83]:
import bisect

In [87]:
# idx = bisect.bisect_left(arr, x)
# arr[:idx] < x, arr[idx:] >= x
# bisect.bisect_left([1, 2, 4], 3) -> 2: [1, 2, 3, 4]
idx = bisect.bisect_left(my_own_list, 2)
if idx < len(my_own_list) and my_own_list[idx] == 2:
    print('index of value 2:', idx)
else:
    print("Not found")

index of value 2: 0

In [88]:
print('popped value:', my_own_list.pop())  # удаление из конца, быстро, за O(1), возвращает удаленное значение
print('after pop', my_own_list)

popped value: 7
after pop [2, 3, 4, 5, 6]

In [89]:
my_own_list.insert(0, 1)  # тоже дорого, O(n) времени
print('after insert(0, 1):', my_own_list)

after insert(0, 1): [1, 2, 3, 4, 5, 6]

In [91]:
my_own_list.reverse()  # развернем список!
# my_own_list = my_own_list[::-1]

print('after reverse:', my_own_list)

after reverse: [1, 2, 3, 4, 5, 6]

In [95]:
my_own_list = my_own_list[::-1]
print(my_own_list[::-1])  # или развернем вот так
print('after reverse one more time:', my_own_list)

[1, 2, 3, 4, 5, 6]
after reverse one more time: [6, 5, 4, 3, 2, 1]

In [98]:
from random import shuffle

shuffle(my_own_list)
print(my_own_list)

[2, 6, 5, 1, 4, 3]

In [99]:
my_own_list.sort()  # а еще тут есть параметр reverse=True, если надо в обратную сторону
# или my_own_list = sorted(my_own_list)
print('after sort:', my_own_list)

after sort: [1, 2, 3, 4, 5, 6]

In [100]:
shuffle(my_own_list)
print(my_own_list)

[6, 2, 4, 5, 1, 3]

In [101]:
my_own_list.remove(6)
print('after remove 6:', my_own_list)

after remove 6: [2, 4, 5, 1, 3]

In [102]:
my_own_list.clear()  # удаляем все элеметы
print('after clear:', my_own_list)

after clear: []

In [103]:
my_own_list.remove(6)  # а вот так уже нельзя :(
print('after remove 6 when it is not present:', my_own_list)

ValueError: ignored

## Строки

In [104]:
s = "somebody once told me"
t = "GO DOWN MOSES"

In [106]:
print(s.capitalize())  # оставить все буквы строчные, первую сделать заглавной
print(s)  # заметьте, что сама строка не меняется, потому что иммутабельна
print(s.upper())  # все заглавные
print(t.lower())  # все строчные
print(t.capitalize())

Somebody once told me
somebody once told me
SOMEBODY ONCE TOLD ME
go down moses
Go down moses

In [110]:
print(t.lower().islower())
print(t.upper().isupper())

True
True

In [111]:
try:
    s[0] = "a"
except TypeError:
    print("ERROR")

ERROR

In [113]:
# "a" + s[1:]

In [114]:
print(id(s))
s += "abc"
print(id(s))

139898646794992
139898646960512

In [115]:
# можно работать с индексами как со списками и кортежами

print(s[0])
print(s[2:10:2])

s
mbd

In [116]:
s = s.replace("somebody", "nobody")  # заменить все вхождения подстроки на другую
print(s)

nobody once told meabc

In [121]:
s = "aaaaaaa"
print(s.replace("aa", "b", 2))  # хм, а тут что будет?

bbaaa

In [ ]:
print(", ".join(["bread", "milk", "cheese"]))

bread, milk, cheese

In [122]:
print(s.count("e"))  # количество вхождений символа
print("abracadabra".count("ra"))  # или целой подстроки

0
2

In [124]:
s = "say what again, i dare you, i double dare you"
print(s.find("dare"))  # индекс первого вхождения, вторым аргументом можно указать, с какого индекса начинать иска

18

In [125]:
s = "say what again, i dare you, i double dare you"
print(s.rfind("dare"))  # индекс первого вхождения, вторым аргументом можно указать, с какого индекса начинать иска

37

In [126]:
print(s.startswith("say"))  # начинается с say
print(s.endswith("you"))  # заканчивается на you
print(s.startswith("cry"))

True
True
False

In [127]:
s = "    hello, honey!   "

print(s.__repr__())  # __repr__ тут нужен, чтобы увидеть скрытые символы
print(s.strip().__repr__())  # обрезать с двух сторон все пробельные символы
print(s.rstrip().__repr__())  # только справа
print(s.lstrip().__repr__())  # только слева

'    hello, honey!   '
'hello, honey!'
'    hello, honey!'
'hello, honey!   '

In [ ]:
# with open("file", "r") as f:
#     for line in f:
#         line = line.strip()

In [ ]:
s = "hello world"
print(s.split())

s = "hello, world"
print(s.split(","))  # можно делать сплит по любой строке

s = "hello"
print(s.isalpha())  # только буквы

s = "hello!"
print(s.isalpha())

s = "12345"
print(s.isdigit())  # только цифры

s = "abc123"
print(s.isalnum())  # буквы и цифры

print(s.islower())  # только нижний регистр (и цифры)

print(s.isupper())  # только нижний регистр (и цифры)

s = "   \n\t"
print(s.isspace())  # проверка что строка состоит из пробельных символов (в том числе табы и \n)

['hello', 'world']
['hello', ' world']
True
False
True
True
True
False
True

In [128]:
s = """Brian
Top marks for not trying
So kind of you to bless us
With your effortlessness
We're grateful and so strangely comforted.
"""  # строки можно делать мультилайновыми

s

"Brian\nTop marks for not trying\nSo kind of you to bless us\nWith your effortlessness\nWe're grateful and so strangely comforted.\n"

In [129]:
print(s)

Brian
Top marks for not trying
So kind of you to bless us
With your effortlessness
We're grateful and so strangely comforted.

In [132]:
s = "I'm going back to 505"

for idx, symbol in enumerate(s, start=1):
    print(f"Symbol on position {idx} is {symbol}")

Symbol on position 1 is I
Symbol on position 2 is '
Symbol on position 3 is m
Symbol on position 4 is
Symbol on position 5 is g
Symbol on position 6 is o
Symbol on position 7 is i
Symbol on position 8 is n
Symbol on position 9 is g
Symbol on position 10 is
Symbol on position 11 is b
Symbol on position 12 is a
Symbol on position 13 is c
Symbol on position 14 is k
Symbol on position 15 is
Symbol on position 16 is t
Symbol on position 17 is o
Symbol on position 18 is
Symbol on position 19 is 5
Symbol on position 20 is 0
Symbol on position 21 is 5