# Семинар 6: функции


**Функцией** будем считать некоторый обособленный кусок кода, который можно вызвать из любой другой части кода.

In [1]:
def func_name(arg1, arg2):
    print(arg1)
    print(arg2)

    return arg1

func_name(1, 2)

1
2

1

In [5]:
def has_negative_number(array):
    for elem in array:
        if elem < 0:
            return True

    # return False

has_negative_number([1,2,3]) is None

True

In [6]:
from typing import List


# тайпинги все еще сохраняют динамическую типизацию,
# но позволяют улучшить читаемость кода
# чекеры вроде mypy умеют анализировать код и проверять их корректность

def has_negative_number(array: List[int]) -> bool:
    for elem in array:
        if elem < 0:
            return True

    return False

has_negative_number([1,2,3])

False

In [13]:
# has_negative_number(1,2,3,4,5,-1)
# все аргументы через * типизируются без List
# https://peps.python.org/pep-0484/#arbitrary-argument-lists-and-default-argument-values

def has_negative_number(*array: int) -> bool:
    print(array)
    for elem in array:
        if elem < 0:
            return True

    return False

print(has_negative_number(1,2,3,4,5,-1))

(1, 2, 3, 4, 5, -1)
True

In [15]:
has_negative_number([1,2,3])

([1, 2, 3],)

TypeError: ignored

In [16]:
has_negative_number(*[1,2,3])

(1, 2, 3)

False

In [23]:
from typing import Mapping, Any

# *args, **kwargs
def func(*args: int, **kwargs: Mapping[str, Any]):
    print(args)
    print(kwargs)


func(1,2,3,4,5,6,"asdasd","12312", param1="1", param2=[1,2])

(1, 2, 3, 4, 5, 6, 'asdasd', '12312')
{'param1': '1', 'param2': [1, 2]}

In [31]:
# named parameters
def custom_max(a: int, b: int):
    print(f"a={a}")
    print(f"b={b}")
    if a > b:
        return a
    return b

print(custom_max(1,2))
print(custom_max(a=1,b=2))
print(custom_max(b=1,a=2))
print(custom_max(1,b=2))
# print(custom_max(b=2,1))  # SyntaxError

a=1
b=2
2
a=1
b=2
2
a=2
b=1
2
a=1
b=2
2

In [36]:
# named parameters
def custom_max_with_kwargs(a: int, b: int, **kwargs):
    print(f"a={a}")
    print(f"b={b}")
    print(f"kwargs={kwargs}")
    if a > b:
        return a
    return b

print(custom_max_with_kwargs(1,2))
print(custom_max_with_kwargs(1,2,x=1,y=2))
# print(custom_max_with_kwargs(1,2,3))  # TypeError

a=1
b=2
kwargs={}
2
a=1
b=2
kwargs={'x': 1, 'y': 2}
2

In [40]:
# named parameters
def custom_max_with_args_and_kwargs(a: int, b: int, *args, **kwargs):
    print(f"a={a}")
    print(f"b={b}")
    print(f"args={args}")
    print(f"kwargs={kwargs}")
    if a > b:
        return a
    return b

print(custom_max_with_args_and_kwargs(1,2))
print(custom_max_with_args_and_kwargs(1,2,x=1,y=2))
print(custom_max_with_args_and_kwargs(1,2,3))
print(custom_max_with_args_and_kwargs(1,2,3,y=123))

a=1
b=2
args=()
kwargs={}
2
a=1
b=2
args=()
kwargs={'x': 1, 'y': 2}
2
a=1
b=2
args=(3,)
kwargs={}
2
a=1
b=2
args=(3,)
kwargs={'y': 123}
2

In [41]:
def max_value(*args: int, **kwargs):
    return_idx = kwargs.get("return_idx", False)
    max_value = args[0]
    max_value_idx = 0

    for idx, elem in enumerate(args[1:], 1):
        if elem > max_value:
            max_value = elem
            max_value_idx = idx

    if return_idx:
        return max_value_idx, max_value
    return max_value

# max_value(..., return_idx=True)

In [43]:
print("max value:", max_value(6, -1, 2, 9, 1))
print("max value:", max_value(6, -1, 2, 9, 1, return_idx=True))

max value: 9
max value: (3, 9)

In [44]:
# default value
def max_value(*args: int, return_idx: bool = False):
    max_value = args[0]
    max_value_idx = 0

    for idx, elem in enumerate(args[1:], 1):
        if elem > max_value:
            max_value = elem
            max_value_idx = idx

    if return_idx:
        return max_value_idx, max_value
    return max_value

In [45]:
print("max value:", max_value(6, -1, 2, 9, 1))
print("max value:", max_value(6, -1, 2, 9, 1, return_idx=True))

max value: 9
max value: (3, 9)

In [49]:
# some dangerous cases with default values
def append_to_array(elem: int, array: List[int]) -> List[int]:
    array.append(elem)
    return array

a = [1,2,3]
a = append_to_array(4, a)
print(a)


def append_to_array_dangerous(elem: int, array: List[int] = []) -> List[int]:
    array.append(elem)
    return array

a = append_to_array_dangerous(1)
print(a)
a = append_to_array_dangerous(1)
print(a)

[1, 2, 3, 4]
[1]
[1, 1]

In [53]:
from typing import Dict

# everything is passed by reference
def func(d: Dict[str, Any]) -> None:
    print("INSIDE THE FUNCTION")
    d["some_str"] = (1,2,3)
    print("BYEBYE")


d = {1: 1, 2: 2, 3: 3}
func(d)
print(d)

INSIDE THE FUNCTION
BYEBYE
{1: 1, 2: 2, 3: 3, 'some_str': (1, 2, 3)}

In [54]:
from typing import Dict

# everything is passed by reference
def func(d: int) -> None:
    print("INSIDE THE FUNCTION")
    d = 1231231312
    print("BYEBYE")


d = 1
func(d)
print(d)

INSIDE THE FUNCTION
BYEBYE
1

**Рестрикшены**

В аргументы функции можно написать пустую `*`. Тогда будет считаться, что все после этой звездочки -- это именованные аргументы и больше позиционные использовать нельзя. Ранее мы могли вызвать функцию вот так:

In [61]:
def custom_max(a: int, b: int, print_hello: bool = False, **kwargs):
    if print_hello:
        print("Hello", **kwargs)  # sep, end
    if a > b:
        return a
    return b

print(custom_max(1,2))
print(custom_max(1,2,print_hello=True))
print(custom_max(1,2,print_hello=True,end="!\n"))
print(custom_max(1,2,True,end="!\n"))

2
Hello
2
Hello!
2
Hello!
2

In [62]:
def custom_max(a: int, b: int, *, print_hello: bool = False, **kwargs):
    if print_hello:
        print("Hello", **kwargs)  # sep, end
    if a > b:
        return a
    return b

print(custom_max(1,2))
print(custom_max(1,2,print_hello=True))
print(custom_max(1,2,print_hello=True,end="!\n"))

2
Hello
2
Hello!
2

In [64]:
# print(custom_max(1,2,True,end="!\n"))  # TypeError

In [65]:
print(custom_max(1,b=2,print_hello=True,end="!\n"))

Hello!
2

In [66]:
def custom_max(a: int, b: int, /,  *, print_hello: bool = False, **kwargs):
    if print_hello:
        print("Hello", **kwargs)  # sep, end
    if a > b:
        return a
    return b

print(custom_max(1,2))
print(custom_max(1,2,print_hello=True))
print(custom_max(1,2,print_hello=True,end="!\n"))

2
Hello
2
Hello!
2

In [68]:
# print(custom_max(1,b=2,print_hello=True,end="!\n"))  # TypeError

## Области видимости

По умолчанию, все переменные в питоне, которые объявлены внутри функции, локальные.

In [72]:
def f(x):
    square_x = x**2
    return x

f(2)
# square_x  # NameError

2

In [74]:
VALUE = 10

def f(x):
    square_x = x**2
    print(f"VALUE {VALUE * 2}")
    return x

f(2)

VALUE 20

2

In [75]:
VALUE = 10

def f(x):
    square_x = x**2
    VALUE = 2
    print(f"VALUE {VALUE * 2}")
    return x

f(2)
print(f"VALUE OUTSIDE: {VALUE}")

VALUE 4
VALUE OUTSIDE: 10

In [78]:
VALUE = 10

def f(x):
    square_x = x**2
    VALUE = VALUE + 2  # UnboundLocalError
    print(f"VALUE {VALUE * 2}")
    return x

f(2)
print(f"VALUE OUTSIDE: {VALUE}")

UnboundLocalError: ignored

In [79]:
VALUE = 10

def f(x):
    # this is a bad practice
    global VALUE
    square_x = x**2
    VALUE = VALUE + 2
    print(f"VALUE {VALUE * 2}")
    return x

f(2)
print(f"VALUE OUTSIDE: {VALUE}")

VALUE 24
VALUE OUTSIDE: 12

In [82]:
a = [1,2,3]

def f():
    a.append(4)

f()
print(a)

[1, 2, 3, 4]

## Лямбды

Анонимные однострочные функции

In [83]:
# вообще, присваивать лямбды переменным плохой тон
# эквивалентно
# def is_negative(x):
#     return x < 0
is_negative = lambda x: x < 0

is_negative(-1)

True

In [84]:
(lambda *args: sum(args) / len(args))(5, 8, 7, 9)

7.25

In [85]:
(lambda x, y: x + y)(5, 8)

13

In [86]:
values = [1, 2, 3, 4, 5, 6]

print(list(map(lambda x: x**2, values)))

[1, 4, 9, 16, 25, 36]

## Сортировка

с помощью лямбда функции можно делать кастомное сравнение

In [91]:
a = [5,2,5,6,1,3,6,7]
print(sorted(a))
print(sorted(a, key=lambda x: -x))
print(sorted(a, key=lambda x: x % 2))
print(sorted(a, key=lambda x: (x % 2, x)))

a.sort(key=lambda x: -x)
print(a)

[1, 2, 3, 5, 5, 6, 6, 7]
[7, 6, 6, 5, 5, 3, 2, 1]
[2, 6, 6, 5, 5, 1, 3, 7]
[2, 6, 6, 1, 3, 5, 5, 7]
[7, 6, 6, 5, 5, 3, 2, 1]

In [95]:
values = ["abcd", "aab", "bda", "0xabadbabe", "0xdeadbeef"]

print(sorted(values))
print(sorted(values, key=lambda x: len(x)))  # key(elem)
print(sorted(values, key=len))  # len(elem)

['0xabadbabe', '0xdeadbeef', 'aab', 'abcd', 'bda']
['aab', 'bda', 'abcd', '0xabadbabe', '0xdeadbeef']
['aab', 'bda', 'abcd', '0xabadbabe', '0xdeadbeef']


### Задача 1
Дано натуральное число $n > 1$. Выведите его наименьший делитель, отличный от 1. Решение оформите в виде функции `min_divisor(n)`. Алгоритм должен иметь сложность $O(\sqrt n)$. Указание. Если у числа $n$ нет делителя не превосходящего $\sqrt n$, то число $n$ — простое и ответом будет само число $n$.

In [98]:
def min_divisor(n: int) -> int:
    for div in range(2, int(n**0.5) + 1):
        if not n % div:
            return div
    return n


print(min_divisor(7))
print(min_divisor(9))
print(min_divisor(2))
print(min_divisor(1))

7
3
2
1

### Задача 2
Известно, что фамилии всех участников олимпиады — различны. Сохраните в массивах список всех участников и выведите его, отсортировав по фамилии в лексикографическом порядке.

При выводе указываете фамилию, имя участника и его балл.

**Ввод:**
```
Иванов Сергей 14 56
Сергеев Петр 23 74
Петров Василий 3 99
Васильев Андрей 3 56
Андреев Роман 14 75
Романов Иван 27 68
```

**Вывод:**
```
Андреев Роман 75
Васильев Андрей 56
Иванов Сергей 56
Петров Василий 99
Романов Иван 68
Сергеев Петр 74
```

In [100]:
input_ = """Иванов Сергей 14 56
Сергеев Петр 23 74
Петров Василий 3 99
Васильев Андрей 3 56
Андреев Роман 14 75
Романов Иван 27 68"""

def process_and_print(input: str) -> None:
    # preprocess
    storage = []
    for line in input.split('\n'):
        surname, name, _, score = line.split(" ")
        storage.append((surname, name, score))

    # sort
    storage.sort(key=lambda x: x[0])

    # print result
    for line in storage:
        print(*line)

process_and_print(input_)

Андреев Роман 75
Васильев Андрей 56
Иванов Сергей 56
Петров Василий 99
Романов Иван 68
Сергеев Петр 74